html {
  font-size: 14px;
}

label {
  font-size: 16px;
}

.text-right {
  padding-right: 30px !important;
}

.heading {
  margin-bottom: 30px;
}

.filter-field {
  margin-right: 23px;
}

#datatableRecharge_wrapper {
  margin-top: -25px;
}

.tool-search {
  margin-right: 0;
}

#filter-name,
#select-price,
#select-category {
  height: 40px !important;
}

.filter-body {
  margin-left: 15px !important;
}

#datatableRecharge_filter {
  visibility: hidden;
}

#datatableRecharge_info {
  position: absolute;
  padding-top: 0;
  margin-top: 34px;
}

#datatableRecharge_paginate {
  margin-top: 33px;
}

#datatableRecharge_length {
  visibility: hidden;
}

#btn_add_menu {
  height: 40px;
  display: flex;
  align-items: center;
}

@-webkit-keyframes ldio-1sj13nmjgme {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ldio-1sj13nmjgme {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-1sj13nmjgme div {
  left: 44px;
  top: 18px;
  position: absolute;
  -webkit-animation: ldio-1sj13nmjgme linear 1s infinite;
          animation: ldio-1sj13nmjgme linear 1s infinite;
  background: #000911;
  width: 6px;
  height: 12px;
  border-radius: 4.8px/4.8px;
  transform-origin: 6px 30px;
}

.ldio-1sj13nmjgme div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -0.9166666667s;
          animation-delay: -0.9166666667s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -0.8333333333s;
          animation-delay: -0.8333333333s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.6666666667s;
          animation-delay: -0.6666666667s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.5833333333s;
          animation-delay: -0.5833333333s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.4166666667s;
          animation-delay: -0.4166666667s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.1666666667s;
          animation-delay: -0.1666666667s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.0833333333s;
          animation-delay: -0.0833333333s;
  background: #000911;
}

.ldio-1sj13nmjgme div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #000911;
}

.loadingio-spinner-spinner-qj9xvinvia {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-1sj13nmjgme {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-1sj13nmjgme div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 60px;
  height: 33px;
}

.slider.round:before {
  border-radius: 50%;
}
